@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

--root {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
}

.darkmode {
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.navbar > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 16pt;
}

.carrito-boton {
    border: none;
    background-color: var(--primary-color);
}

.carrito-boton:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        cursor: pointer;
    }
}


.interruptor {
    border: none;
    background-color: var(--primary-color);
    margin-left: 10px;
}

.interruptor:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.swiper {
    width: 100%;
    height: 500px;
    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}

